lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
npp.workspace

output/*

node_modules/.bin*
node_modules/less*
node_modules/optimist*
node_modules/rsvp*
node_modules/underscore*
node_modules/marked/.git*
node_modules/marked/test/*